/* global */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.btt{
    position: fixed;
    top: 50%;
    background-image: url('logo.jpeg');
    background-size: cover;
    width: 3%;
    height: 14%;
    border: none;
    outline:none;
    cursor:pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #F0E2D1;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
  position: relative;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
  padding: 1%;
}


nav a {
  color: #7A7C80;
  font-size: 1.0rem;
  font-weight: 900;
}

nav a:hover {
  color: #F08767;
}


.box {
  background-image: url(web1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F0E2D1;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 100vh;
}

a{
    color: #7A7C80;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #7A7C80;
}

.h3{
    font-weight: 900;
    font-size: 6.0rem;
    font-family: 'Montserrat', sans-serif;
    color: #F0E2D1;
    position: relative;
    bottom: 25vh;
    right: 22%;
}

.h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #F0E2D1;
    position: absolute;
    left: 10%;
    top: 0vh;
}

.fa-4x{
    font-size: 2.0rem;
    color: #F0E2D1;
    position: absolute;
    left: 13%;
    top: 7vh;
}

.fa-4x a{
    color: #F0E2D1;
}

.fa-4x a:hover{
    color: #7A7C80;
    cursor: pointer;
    transition: 0.2s;
}

.about{
  background: #F0E2D1;
  height: 85vh;
}

.first, .second, .third {
    float: left;
    margin-left: 3%;
    width: 23%;
    color: #F08767;
    padding: 3%;
    height: 50vh;
    text-align: center;
}

.container:after {
    clear: both;
}

.experience{
  background: #7A7C80;
  height: 135vh;
}

.first1, .second1, .third1 {
    float: left;
    margin-left: 3%;
    width: 23%;
    color: #F0E2D1;
    padding: 3%;
    height: 50vh;
    text-align: center;
}

.achievements{
  background: #F08767;
  height: 120vh;
}

.first2, .second2, .third2 {
    float: left;
    margin-left: 3%;
    width: 23%;
    color: #7A7C80;
    padding: 3%;
    height: 50vh;
    text-align: center;
}

@media (max-width:1100px) {
  .h3{
    font-weight: 900;
    font-size: 5.0rem;
    font-family: 'Montserrat', sans-serif;
    color: #F0E2D1;
    position: relative;
    bottom: 20vh;
    right: 2%;
  }
  .h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    color: #F0E2D1;
    position: absolute;
    left: 10%;
    top: 0vh;
  }
    .about{
  background: #F0E2D1;
  height: 120vh;
}

  .experience{
  background: #7A7C80;
  height: 205vh;
}

  .achievements{
  background: #F08767;
  height: 170vh;
}

  .btt{
    height: 8vh;
    width: 3vh;
}

}

@media (max-height:700px) {
  .h3{
    font-weight: 900;
    font-size: 4.0rem;
    font-family: 'Montserrat', sans-serif;
    color: #F0E2D1;
    position: relative;
    bottom: 30vh;
    right: 10%;
  }
  .h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    color: #F0E2D1;
    position: absolute;
    left: 10%;
    top: 0vh;
  }
    .about{
  background: #F0E2D1;
  height: 280vh;
}

  .experience{
  background: #7A7C80;
  height: 495vh;
}

  .achievements{
  background: #F08767;
  height: 420vh;
}

  .btt{
    height: 8vh;
    width: 3vh;
}

}

@media (max-height:300px) {
  .h3{
    font-weight: 900;
    font-size: 2.0rem;
    font-family: 'Montserrat', sans-serif;
    color: #F0E2D1;
    position: relative;
    bottom: 30vh;
    right: 20%;
  }
  .h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #F0E2D1;
    position: absolute;
    left: 10%;
    top: -3vh;
  }
    .about{
  background: #F0E2D1;
  height: 350vh;
}

  .experience{
  background: #7A7C80;
  height: 555vh;
}

  .achievements{
  background: #F08767;
  height: 470vh;
}

  .btt{
    height: 8vh;
    width: 3vh;
}

}
